#container
  #erose    
    #the-glass
      .glass-nipple
      #dead
        -(0...4).each do |i|
          .deadpetal
        .deadpetal.animated
      #the-rose
        .stem.stem-1
        .stem.stem-2
        .petals
          -(0...5).each do |i|
            .petal
          .stem-clit.right
          .stem-clit.left
      #halo
    %p
      Tale as old as fuck
      %br
      True as fuck can be